.checkbox {
    label {
        display: flex;
        align-items: center;
    }

    .element {
        position: relative;
        width: 16px;
        height: 16px;
        min-width: 16px;
        max-width: 16px;
        min-height: 16px;
        max-height: 16px;
        background-color: var(--checkbox-background);
        border: 1px solid var(--checkbox-border-color);
        border-radius: var(--core-border-radius);

        input {
            width: 100%;
            height: 100%;
            margin: 0;
            opacity: 0;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 12px;
            transform: translateX(-50%) translateY(-50%);
            fill: transparent;
            pointer-events: none;
        }
    }

    .label {
        margin-left: 0.5rem;
        color: var(--checkbox-label);
    }

    .error {
        font-size: var(--core-font-size-small);
        margin-bottom: 0.5rem;
        color: var(--core-color-error);
        padding: var(--core-padding-error);
    }

    &.focus,
    &:focus-within,
    &:hover {
        .element {
            border: 1px solid var(--checkbox-border-color-focus);
        }
    }

    &.disabled {
        pointer-events: none;

        .element {
            opacity: var(--core-opacity-disabled);
        }
    }

    &.checked {
        .element {
            background-color: var(--checkbox-background-checked);
            border: 1px solid transparent;

            svg {
                fill: var(--checkbox-indicator--checked);
            }
        }
    }
}
