@import '../../styles/theme';

.switch {
    label {
        display: flex;
        align-items: center;
    }

    .element {
        position: relative;
        width: 44px;
        height: 24px;
        min-width: 44px;
        max-width: 44px;
        min-height: 24px;
        max-height: 24px;
        background-color: var(--switch-background);
        border: 1px solid var(--switch-border-color);
        border-radius: 16px;

        input {
            width: 100%;
            height: 100%;
            margin: 0;
            opacity: 0;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        span {
            position:absolute;
            top: 50%;
            left: 4px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: var(--switch-indicator);
            transform: translateY(-50%);
            pointer-events: none;
            transition: left 0.2s ease-in-out;
        }
    }

    .label {
        margin-left: 0.5rem;
        color: var(--switch-label);
    }

    .error {
        font-family: var(--core-font-family);
        font-size: 11px;
        margin-bottom: 0.5rem;
        color: var(--core-color-error);
        padding: var(--core-padding-error);
    }

    &.focus,
    &:focus-within,
    &:hover {
        .element {
            border: 1px solid var(--switch-border-color-focus);
        }
    }

    &.disabled {
        pointer-events: none;

        .element {
            opacity: var(--core-opacity-disabled);
        }
    }

    &.checked {
        .element {
            background-color: var(--switch-background-checked);
            border: 1px solid transparent;

            span {
                left: calc(100% - 16px - 4px);
                background-color: var(--switch-indicator--checked);
            }
        }
    }
}
