@import '../styles/theme';

.radio {
    label {
        display: flex;
        align-items: center;
    }

    .element {
        position: relative;
        width: 16px;
        height: 16px;
        min-width: 16px;
        max-width: 16px;
        min-height: 16px;
        max-height: 16px;
        background-color: var(--radio-background);
        border: 1px solid var(--radio-border-color);
        border-radius: 50%;

        input {
            width: 100%;
            height: 100%;
            margin: 0;
            opacity: 0;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            transform: translateX(-50%) translateY(-50%);
            pointer-events: none;
            background-color: transparent;
        }
    }

    .label {
        margin-left: 0.5rem;
        color: var(--radio-label);
    }

    &.focus,
    &:focus-within,
    &:hover {
        .element {
            border: 1px solid var(--radio-border-color-focus);
        }
    }

    &.disabled {
        pointer-events: none;

        .element {
            opacity: var(--core-opacity-disabled);
        }
    }

    &.checked {
        .element {
            background-color: var(--radio-background-checked);
            border: 1px solid transparent;

            span {
                background-color: var(--radio-indicator--checked);
            }
        }
    }
}
