@import '../../styles/theme';
@import '../../styles/mixins/reset-button';

.button {
    @include reset-button;
    display: inline-flex;
    font-family: var(--core-font-family);
    font-weight: var(--core-font-weight);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease-in-out;

    .label {
        z-index: 1;

        p {
            height: 20px;
            line-height: 20px;
            padding: 0;
            margin: 0;
        }

        svg {
            width: 20px;
        }
    }
}
