$core-breakpoint-medium: 768px;
$core-breakpoint-large: 1024px;

:root {
    // core
    --core-font-family: sans-serif;
    --core-border-radius: 4px;
    --core-opacity-disabled: 0.5;
    --core-color-primary: #3880ff; // blue
    --core-color-success: #95dcb2; // green
    --core-color-error: #db7f93; // red
    --core-color-border: #dddddd; // grey
    --core-padding-error: 8px 0;

    // primary button
    --button-primary-background: var(--core-color-primary);
    --button-primary-padding: 8px 16px;
    --button-primary-color: #ffffff;

    // secondary button
    --button-secondary-background: transparent;
    --button-secondary-padding: 8px 16px;
    --button-secondary-color: #666666;

    // minimal button
    --button-minimal-background: transparent;
    --button-minimal-padding: 8px 16px;
    --button-minimal-color: #666666;
    --button-minimal-color-focus: #131313;

    // Input Fields
    --input-background: #ffffff;
    --input-background-disabled: #fcfcfc;
    --input-border-color: #dddddd;
    --input-border-color-focus: #888888;
    --input-color: #666666;
    --input-padding: 8px 16px;
    --input-label: #666666;

    // File Fields
    --file-background: #ffffff;
    --file-background-disabled: #fcfcfc;
    --file-border-color: #dddddd;
    --file-border-color-focus: #888888;
    --file-color: #666666;
    --file-padding: 8px 16px;
    --file-label: #666666;
    --file-icon-color: #dddddd;
    --file-icon-padding: 8px;

    // Search Input Field
    --search-background: #ffffff;
    --search-background-disabled: #fcfcfc;
    --search-border-color: #dddddd;
    --search-border-color-focus: #888888;
    --search-color: #666666;
    --search-padding: 8px 16px;
    --search-icon-color: #dddddd;
    --search-icon-padding: 8px;

    // spinner
    --spinner-color-primary: var(--core-color-primary);
    --spinner-color-secondary: #dddddd;
    --spinner-width: 2px;

    // radio
    --radio-background: #ffffff;
    --radio-background-checked: var(--core-color-primary);
    --radio-border-color: #dddddd;
    --radio-border-color-focus: #888888;
    --radio-indicator: #dddddd;
    --radio-indicator--checked: #ffffff;
    --radio-label: #666666;

    // checkbox
    --checkbox-background: #ffffff;
    --checkbox-background-checked: var(--core-color-primary);
    --checkbox-border-color: #dddddd;
    --checkbox-border-color-focus: #888888;
    --checkbox-indicator: #dddddd;
    --checkbox-indicator--checked: #ffffff;
    --checkbox-label: #666666;

    // switch
    --switch-background: #ffffff;
    --switch-background-checked: var(--core-color-primary);
    --switch-border-color: #dddddd;
    --switch-border-color-focus: #888888;
    --switch-indicator: #dddddd;
    --switch-indicator--checked: #ffffff;
    --switch-label: #666666;

    // lists
    --list-primary-background: var(--core-color-primary);
    --list-secondary-background: #ececec;
    --list-padding: 16px;

    // spacer
    --spacer-small: 20px;
    --spacer-medium: 40px;
    --spacer-large: 60px;

    // padding
    --padding-small: 20px;
    --padding-medium: 40px;
    --padding-large: 60px;
}
