@import '../../styles/theme';

.list {
    font-family: var(--core-font-family);
    font-size: var(--core-font-size);

    * {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            background-color: #ffffff;
        }
    }

    &__label {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 40px;
        overflow: hidden;
        padding: var(--list-label-padding);

        & > div {
            flex: 1;
            color: var(--list-label-color);
            text-transform: capitalize;
        }
    }

    &__tab {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 50px;
        overflow: hidden;
        padding: var(--list-label-padding);
        border-top: 1px solid var(--list-border-color);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.0125;
        }

        & > div {
            position: relative;
            flex: 1;
            color: var(--list-label-color);
        }
    }

    li {
        &:nth-child(odd) {
            .list__tab {
                &:before {
                    opacity: 0.05;
                }
            }
        }
    }
}
