@import '../styles/theme';

.spinner {
    border: var(--spinner-width) solid var(--spinner-color-secondary);
    border-top: var(--spinner-width) solid var(--spinner-color-primary);
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
