@mixin reset-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    vertical-align: top;
    cursor: pointer;
    text-align: left;
    padding: 0;
    margin: 0;
    align-items: normal;

    &:focus {
        outline: none;
    }
}
